
  <div class="footer-bg">
    <div class="footer-content ibm-columns">
      <div class="footer-column ibm-col-6-2">
        <ul>
          <li>
            <p class="footer-link" data-tracking="home" ><a href="../">{{ home }}</a></p>
          </li>
          <li>
            <p class="footer-link" data-tracking="stories" data-hash='#'>{{ stories }}</p>
          </li>
          <li>
            <p class="footer-link" data-tracking="story-index" data-hash='#!story-index'>{{ story_index }}</p>
          </li>
          <!--li>
            <p class="footer-link" data-tracking="voices"><a href="../voices.html">Voices</a></p>
          </li-->
        </ul>

      </div>
      <div class="footer-column ibm-col-6-2">
         <ul class="socialList">
            <li class="socialLinks">
	          <a href="{{{ twitter }}}" class="footer-link icon twitter" target="_blank" data-tracking="twitter"></a>
	          </li>
	          <li class="socialLinks">
	          <a href="{{{ linkedin }}}" class="footer-link icon linkedin" target="_blank" data-tracking="linkedin"></a>
	          </li>
	          <li class="socialLinks">
	          <a href="{{{ facebook }}}" class="footer-link icon facebook" target="_blank" data-tracking="facebook"></a>
	          </li>
        </ul>
      </div>
      <div class="footer-column ibm-col-6-2">
       

      </div>
      <div class="footer-bottom-line ibm-col-1-1">&#169; 2014
        <a class="footer-link" data-tracking="ibm.com" href="{{ ibm_dot_com.url }}" target="_blank">{{ ibm_dot_com.text }}</a>
        <a class="footer-link" data-tracking="voices" href="{{{ibm_dot_com_voices.url}}}" target="_blank">{{ibm_dot_com_voices.text}}</a>
        <a class="footer-link" data-tracking="terms-of-use" href="{{  terms_of_use.url }}/" target="_blank">{{ terms_of_use.text }}</a>
        <a class="footer-link" data-tracking="privacy-policy" href="{{ privacy_policy.url }}" target="_blank">{{ privacy_policy.text }}</a></div>
      
    </div>

  </div>

<div class="truste">
   <a id="icon-id06532357762004942">
<img alt="TRUSTe Icon" onerror="truste.eu.showSeal()" style="border: none; cursor:pointer;" src="http://consent.truste.com/get?name=cookiepreferencestext.png">
</a>
</div>